/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

/* Home */
/* Header */

header {
  width: 100%;
  height: 182px;
}

header div {
  padding-left: 280px;
  padding-top: 20px;
}

header div p {
  padding-left: 50px;
}

header nav {
  padding-top: 45px;
}

header nav ul {
  padding-left: 280px;
  list-style: none;
  display: flex;
  gap: 10px;
}

header nav ul li {
  display: inline-block;
}

header nav ul a {
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 5px;
}

/* *** Main *** */

.row {
  display: flex;
  gap: 25px;
  padding: 0 0 0 280px;
}

.row-1 {
  padding-top: 30px;
}

.row-2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

main section article {
  width: 260px;
}

.row section article h3 {
  padding: 25px 0;
}

.article-footer {
  padding-top: 25px;
}

main article img {
  border: 1px solid #ebefed;
  border-radius: 5px;
  margin-bottom: 18px;
  padding: 2px;
}

main section aside nav {
  padding: 30px 0 40px;
}

.middle-link {
  padding: 20px 0;
}

main section aside {
  padding-left: 15px;
}

main section aside h1 {
  padding-bottom: 25px;
}

main section aside p {
  padding-bottom: 25px;
}

/* footer */

footer {
  width: 100%;
  height: 348px;
}

.footer-upper {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 25px 250px 25px 280px;
}

.footer-upper-1 {
  width: 220px;
}

.footer-upper-1 h1 {
  padding-bottom: 15px;
}

.footer-upper-1 .images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: 15px;
}

.footer-upper-1 img {
  width: 65px;
}

.footer-upper-2 {
  width: 305px;
}

.footer-upper-2 h1,
.footer-upper-3 h1 {
  padding-bottom: 20px;
}

.footer-upper-2 img {
  float: left;
  padding: 0 15px 5px 0;
}

.footer-upper-3 {
  width: 230px;
}

.footer-upper-3 p {
  padding-bottom: 20px;
}

.footer-upper-3 h3 {
  display: inline;
}

.footer-lower {
  padding: 25px 0 25px 280px;
  padding-top: 25px;
  display: flex;
  gap: 320px;
}

.footer-lower nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* About page */
/* *** Main *** */

.main-top {
  display: flex;
  gap: 20px;
  padding: 30px 0 50px 280px;
}

.left article {
  width: 600px;
}

.left article h1 {
  padding-bottom: 20px;
}

.second {
  padding-top: 50px;
}

/* Contact */

/* *** Main *** */

.form-and-side-bar-content {
  padding: 30px 0 50px 280px;
  display: flex;
  gap: 20px;
}

.form-content {
  width: 600px;
}

.form-content h1 {
  padding-bottom: 20px;
}

.form-content p {
  padding-bottom: 40px;
}

.form-div {
  padding-bottom: 20px;
}

input {
  width: 500px;
  height: 20px;
}

textarea {
  width: 500px;
  height: 150px;
}

button {
  margin-top: 20px;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}
